@import url(https://fonts.googleapis.com/css?family=Roboto);

/*Global CSS*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  
  font-family: 'Roboto';
}

/*Corpo*/
body {
  margin: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  color: #ffffff;
  background-color: #1D1F2B;
}

/*Mensagens Container*/
#message-container {
  height: 600px;
  width: 1200px;
  padding: 30px;
  margin: 5px;
  
  overflow-y: scroll;
  
  border-radius: 10px;
  background-color: #252837;
}
#message-container div {
  padding: 10px;
  margin: 10px;
  border-radius: 0 10px 10px 10px;

  max-inline-size: 800px;
  overflow-wrap: break-word;
  font-size: 18px;

  background-color: #303346;
}

/*Mensagens Input*/
form {
  display: flex;
  justify-content: center;
  
  background-color: #1d1f2b;  
}
input{
  height: 50px;
  margin: 5px;
  inline-size: 1200px;
  padding-left: 50px;
  
  border-radius: 10px;
  border:0;
  outline:0;
  vertical-align: bottom;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

  font-size: 18px;

  color: #ffffff;
  background-color: #303346;
}
input:focus {
  outline: none !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #191e28;
}

/*Botões*/
button {
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-left: 10px;   
  
  border-radius: 10px;
  vertical-align: bottom;
  
  color: #ffffff;
  background-color: #6a82fe;
}
button:hover {
  cursor: pointer;
}

/* Scroll */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #191e28;
}
::-webkit-scrollbar-thumb {
  background: #6a82fe;
}
::-webkit-scrollbar-thumb:hover {
  background: #6a82fe;
}